/* app/globals.css */
@import "tailwindcss";

@theme {
  /* 直接在 theme 里定义颜色变量 */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme {
    /* 暗色模式下覆盖变量 */
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}